.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* place-items: center; */
}

.linea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}